/**
 *自定义样式，控制全局显示
 * 2017-11-12
 * by libo
 */
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 2;
    color: red;
    background-color: #eeeeee;
    border-color: #ddd;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: red;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    color: #555;
}
.row{
    margin-left:-15px;
}
.portlet.box > .portlet-title {
    padding: 0px 15px;
}
