/*
layouts布局中的样式
2018-04-22 9:25
*/
*{
    padding:0;
    margin:0;
}
.navbar{
    min-height:45px;
}
.s-top-bar{
    background:#21292f;
}
.s-cate-bar{
    border-top:0px;
    border-left:0px;
    border-right:0px;
}
.label_style a{
    display: block;
    margin:3px;
    float:left;
    padding:8px;
}
#login_style a:hover{
    color:white;
}
.list-group-item {
    /*position: relative;*/
    /*display: block;*/
    /*padding: 0px;*/
    /*margin-bottom: -1px;*/
    /*background-color: #fff;*/
    /*border-bottom: 1px solid #ddd;*/
}
.article-list{
    border:0;
}
.article-list ul li{
    border:0;
}
.article-list .have-img .list-item-content{
    padding-left:150px;
}
.article-list .have-img .list-item-content h2{
    margin-top:-5px;
    font-size:24px;
}
.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
a:link{
    text-decoration: none;
}
a:hover{
    color:#3ca5f6;
}
.article-list .list-item-content h2{
    font-size: 24px;
}
a{
    color:#303030;
}
.article-list .list-item-content h2 a{
    font-size: 18px;
    word-break: normal;
    word-wrap: break-word;
}
.article-list .have-img{
    min-height:140px;
}
.list-item-content .author{
    margin:10px 0;
}
.author a:hover{
    cursor:pointer;
}
.list-item-content .author .author-face{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.list-item-content .author .author-name,.author .time{
    color: #bbb;
    line-height: 24px;
    margin-left: 7px;
    font-style: normal;
    word-break: break-all;
}
.author .author-name a:hover{
    text-decoration: none;
}
.author .time{
    margin-left:5px;
}
.author .comment{
    margin:0 5px;
    color:#bbb;
}
.author .comment:hover{
    color:#ed4040;
}
.author .like{
    margin:0 5px;
    color:#bbb;
}
.author .like:hover{
    color:#ed4040;
}
.list-item-content .author .author-face img{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.list-item-content p{
    color:#999;
    max-height: 80px;
    overflow: hidden;
    margin-bottom: 30px;
}
.list-item-content .tag{
    position: relative;
    float: right;
    bottom: 15px;
    right: 10px;
}
.list-item-content .tag span{
    margin:0 2px;
    color:#80839c;
}
.list-item-content .tag span a{
    color:#80839c;
}
.list-item-content .tag span a:hover{
    color:#3ca5f6;
}
.article-list .have-img .wrap-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.article-list .have-img .wrap-img{
    position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 0;
    width: 150px;
    height: 150px;
}
/*导航样式*/
.nav-channel .dropdown-menu{
    border:0;
}
.nav-channel .channel-item{
    border-radius: 4px;
    margin:0 1px;
}
.nav-channel .nav-active{
    background:#ed4040;
}
#bs-example-navbar-collapse-1 .nav-active a{
    color:#fff;
}
/*淡入淡出效果*/
#bs-example-navbar-collapse-1 .channel-item a:hover{
    border-radius: 4px;
    color:#fff;
    background:#ed4040;

    transition:all .1s ease-in 0s;
    -webkit-transition:all .1s ease-in 0s;
    -moz-transition:all .1s ease-in 0s;
}
#bs-example-navbar-collapse-1 .channel-item a{
    border-radius: 4px;
    transform: translate(0,0);
    transition:all .1s ease-in 0s;
}
.navbar{
    margin-bottom:5px;
}
.nav-channel .nav-active{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.nav-channel .subnav{
    margin:4px 0;
}
.nav-brand{
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

/*分页样式*/
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    z-index: 2;
    color: red;
    background-color: #eeeeee;
    border-color: #ddd;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: red;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    color: #555;
}
.row{
    margin-left:-15px;
}
.portlet.box > .portlet-title {
    padding: 0px 15px;
}
/*弹出层样式*/
.my-skin .layui-layer-btn a:first-child{
    background-color:#d9534f;
    border-color:#d9534f;
}
/*top nav部分样式重写*/
.navbar-default .u-top-slide > li > a{
    color:#e8e6e6;
}
.navbar-default #login_style.u-top-slide > .open > a,
.navbar-default #login_style.u-top-slide > .open > a:hover,
.navbar-default #login_style.u-top-slide > .open > a:focus
{
    background-color: #464545;
    color:#f1eded;
}
.navbar-default #login_style.u-top-slide > .open ul.dropdown-menu>li>a:hover{
    border-radius: 4px;
    color: #fff;
    background: #ed4040;
}
/*正在加载图片样式*/
#loading img{
    margin: 0 auto;
    display: block;
}